{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<form class="form-inline" action="{{ url_for("sol_app")}}" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="smiles" placeholder="enter SMILE string here">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

{% for each in sol_val %}

<text>The predicted solubility of your molecule is {{each}}</text>

<br>

<img src="{{ filename }}" alt="solgraph" width="480" height="380">

{% endfor %}

{% endblock %}